body {
	margin: 0;
	padding: 0;
	background: #3f3f3f;
}

section.container {
	width: 100%;
}

section.container ul.ul-principal {
	margin: 10px 0 0 0;
	padding: 0;
}

section.container ul.ul-principal li {
	list-style: none;
	float: left;
	text-align: center;
	display: block;
	width: 120px;
	padding: 7px;
	font-family: calibri;
	font-size: 16px;
	cursor: pointer;
}

section.container ul.ul-principal li:first-child {
	margin-left: 20px;
}

section.container ul.ul-principal li span {
	color: #fff;
}

section.container ul.ul-principal li span:hover {
	color: #ff0000;
}

section.container ul.ul-principal li ul.ul-secundario {
	margin-top: 6px;
	padding: 0;
	background: #000;
	position: absolute;
	width: 100%;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #fff;
	z-index: -1;
	cursor: default;
	left: 0;
}

section.container ul.ul-principal li ul.ul-secundario li {
	list-style: none;
	display: block;
	width: 150px;
	color: #fff;
	padding: 30px 0;
}

section.container ul.ul-principal li ul.ul-secundario li:hover {
	color: #ff0000;
}

section.container ul.ul-principal li#menu01 {
	display: block;
	background: #000;
	border-top: solid 1px #fff;
	border-left: solid 1px #fff;
	border-right: solid 1px #fff;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

section.container ul.ul-principal ul#mostra01 {
	display: block;
}

section.container ul.ul-principal ul#mostra02 {
	display: none;
}

section.container ul.ul-principal ul#mostra03 {
	display: none;
}

section.container ul.ul-principal ul#mostra04 {
	display: none;
}